<div class="col-8 col-12-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2>Про сайт @CompanyInfo.Name</h2>

			</header>

			<p>
				Мета даного сайту - допомога людям, які потребують кров або її компоненти, знайти донорів, які бажають здати кров саме особам, які дуже потребують її
				на даний момент.
			</p>

			<span class="image featured"><img src="images/blood.gif" alt="" /></span>


			<p>
				Як свідчить практика, для багатьох людей хвороба приходить неочікувано і потреба в крові або її компонентах постає просто негайно.
				Проте, люди навіть не мають уявлення, де шукати донорів, крім своїх рідних або знайомих.
			</p>
			<br />
			<p>
				Разом з тим, є багато людей, які хочуть здати кров саме тим людям, які її потребуть на даний момент, щоб розуміти і одразу бачати результат своєї
				кровоздачі, проте не мають уявлення, де шукати таких людей.
			</p>
			<br />
			<p>
				Сучасний розвиток технологій має можливість допомогти обом групам цих людей знайти один одного для великої справи - допомоги ближньому!
			</p>

		</article>
	</div>
</div>