<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
			<div class="col-6 col-6-medium col-12-small">
				<!-- Links -->
				<section>
					<h2>Наші партнери</h2>
					<ul class="divided">
						<li><a href="https://donor.ua"> Сайт "Donor.ua"</a></li>
						<li><a href="http://kmck.kiev.ua">Київський міський центр крові</a></li>
					</ul>
				</section>

			</div>
			<div class="col-6 col-6-medium col-12-small">
				<!-- Contact -->
				<section>
					<h2>Ми в соціальних мережах</h2>
					<div>
						<div class="row">
							<div class="col-12 col-12-small">
								<dl class="contact">
									<dt>Twitter</dt>
									<dd><a href="#">@@untitled-corp</a></dd>
									<dt>Facebook</dt>
									<dd><a href="#">facebook.com/untitled</a></dd>
									<dt>WWW</dt>
									<dd><a href="#">untitled.tld</a></dd>
								</dl>
							</div>
						</div>
					</div>
				</section>

			</div>
			<div class="col-12">
				<div id="copyright">
					<ul class="menu">
						<li>&copy; IgorKushnir Development. All rights reserved</li>
						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>