<div class="col-4 col-12-medium">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<header class="major">
				<h2>Як стати донором</h2>
			</header>
			<p style="text-align: justify">
				Донором крові в Україні може бути здорова людина віком від 18 років, вагою від 50 кг (у деяких центрах крові приймають із вагою від 55-60 кг, 
				наприклад, у Львівському обласному центрі служби крові). Якщо з віком та кілограмами більш-менш зрозуміло, то важче зрозуміти, хто – здорова людина.

				Це – ті, хто не мають протипоказань. Якщо вам властиві хронічні захворювання, приймаєте ліки, стоїте на обліку – донором не зможете стати чи на постійній, чи на тимчасовій основі.

			</p>
			<footer>
				<a href="https://donor.ua/pages/2275"   class="button icon solid fa-info-circle">Докладніше</a>
			</footer>
		</section>

	</div>
</div>